<!-- <div class="w-full h-20 bg-[#522258] flex items-center p-4 justify-center">
  <h1 class="text-xl text-[#C63C51]">Template Angular</h1>

  <div class="flex justify-center">
    <a [routerLink]="homePath" class="text-white hover:text-[#C63C51] ml-4"
      >Home</a
    >
  </div>
</div> -->

<div class="w-full h-20 bg-[#522258] flex items-center justify-center p-4">
  <div class="flex-col flex gap-2 items-center">
    <h1 class="text-xl text-[#C63C51]">Template Angular</h1>
    <div class="flex items-center">
      <a [routerLink]="homePath" class="text-white hover:text-[#C63C51]"
        >Home</a
      >
    </div>
  </div>
</div>
